<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="icon" href="../static/img/logo-hire-talents-crop.png" type="image/png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Details</title>
        <style>
            table {
  border-collapse: collapse;
}

tr {
  border-bottom: 7px solid #bbb;
  border-radius: 5px;
}
  </style>
</head>
<body>

  <nav aria-label="breadcrumb" class="pt-5">
    <ol style="background-color:rgba(133, 133, 133, 0.308) ;" class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'company'%}" data-abc="true">Company</a></li>
      <li class="breadcrumb-item"><a href="{%url 'inquiries'%}" data-abc="true">Inquiries</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Detail-{{pk}}</span></li>
    </ol>
  </nav>

    <h2 class="bg-dark text-white mx-1 my-1 rounded">Details of the Inquiry for {{pk}}</h2>
    {%for each in all%}
    <div class="card mx-5 my-3">
        <div class="card-header">
         Q. {{each.question.label}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{each.value}}</h5>
        </div>
      </div>
      {%endfor%}

    <h2 class="bg-dark text-white mx-1 my-1 rounded">Developers Inquirer wants</h2>
      <br><br>
      <table style="width:100%">
        {%for dev in all_dev_details%}

      <tr style="height:200px; padding-top:50px;" > 
          <td style="width:30%">
              <img style="max-height:100%; max-width:100%;" src="{{dev.0.0.developer_image.url}}" alt={{dev.1.0.value}} ></td>
          
          <td class="detail">
              <div class="panel-group" id="accordion{{dev.0.0.answer_id}}"><div class="panel panel-default" ><div class="panel-heading"><h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion{{dev.0.0.answer_id}}" href="#collapse1{{dev.0.0.answer_id}}">About the Developer</a></h4></div>
                    <div id="collapse1{{dev.0.0.answer_id}}" class="panel-collapse collapse">
                      <div class="panel-body">
                          {%for detail in dev.1%}
                          {%if forloop.counter == 1%}
                          <strong>Name: </strong>{{detail.value}} <br>
                          {%endif%}
                          {%if forloop.counter == 2%}
                          <strong>E-mail id: </strong>{{detail.value}} <br>
                          {%endif%}
                          {%if forloop.counter == 3%}
                          <strong>Education: </strong>{{detail.value}} <br>
                          {%endif%}
                          {%if forloop.counter == 4%}
                          <strong>Skills: </strong>{{detail.value}} <br>
                          {%endif%}
                          {%if forloop.counter == 5%}
                          <strong>Experience: </strong>{{detail.value}} <br>
                          {%endif%}
                          {%if forloop.counter == 6%}
                          <strong>Awards/Certification: </strong>{{detail.value}} <br>
                          {%endif%}
                          {%endfor%}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion{{dev.0.0.answer_id}}" href="#collapse2{{dev.0.0.answer_id}}">Links and Websites</a>
                      </h4>
                    </div>
                    <div id="collapse2{{dev.0.0.answer_id}}" class="panel-collapse collapse">
                      <div class="panel-body">
                          {%for detail in dev.1%}
                          {%if forloop.counter == 7%}
                          {{detail.value}}
                          {%endif%}
                          {%endfor%}

                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion{{dev.0.0.answer_id}}" href="#collapse3{{dev.0.0.answer_id}}">Reviews by some client/s</a>
                      </h4>
                    </div>
                    <div id="collapse3{{dev.0.0.answer_id}}" class="panel-collapse collapse">
                      <div class="panel-body">
                          {%for detail in dev.1%}
                          {%if forloop.counter == 8%}
                          {{detail.value}}
                          {%endif%}
                          {%endfor%}
                      </div>
                    </div>
                  </div>
                </div>
      
          </td>
      </tr>
    {% endfor %}
    </table>
</body>
</html>