<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire Talents</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>This is </h1>
    <div class="container">
    <a class="btn btn-info" href={% url 'create' slug=client %}>Client, Welcome to Latitude: Click to start the process</a>
    <br>
    <a class="btn btn-info" href={% url 'create' slug=employee %}>Latitude, Please Enter Employee details.</a>
    <br>
    <a class="btn btn-info" href={% url 'display' %}>Selected Employees</a>


    </div>
</body>
</html>
