<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
       -->
    
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
       integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="../static/img/logo-hire-talents-crop.png" type="image/png">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <title>Inquiries</title>

</head>
<body>
  <br>

  <nav aria-label="breadcrumb">
    <ol style="background-color:rgba(133, 133, 133, 0.308) ;" class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'company'%}" data-abc="true">Company</a></li>
      <li class="breadcrumb-item active" aria-current="page"><span>Inquiries</span></li>
    </ol>
  </nav>

  <h4 class="bg-dark text-light py-2 rounded text-center">All Inquiries:</h4>

  <ul class="list-group">
    {% for company,val in all_lists%}
    <li class="list-group-item list-group-item-action">
      {% if val.1 == True %}
      <strike><a href="{% url 'detail' company.0.user_answer_id%} " class="text-success">{{ company.0.value }}</a></strike>
      {% else %}
      <a href="{% url 'detail' company.0.user_answer_id%}">{{ company.0.value }}</a>
      {% endif %}
        <div class="float-right">
          {% if val.1 == True %}
          <!-- <img src="../static/img/success.png" width="50" alt=""> -->
          <a href="{% url 'completed_meeting' val.0 %}" class="btn"><img src="../static/img/success.png" width="50" alt=""></a>
          {%else%}
          <a href="{% url 'completed_meeting' val.0 %}" class="btn"><img src="../static/img/call.png" width="50" alt=""></a>
          <!-- <a href="{% url 'completed_meeting' val.0 %}" class="btn btn-primary">Meeting Done</a> -->
          {%endif%}
        </div>

    </li>
    {% endfor %}
</ul>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>