<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searching</title>
    <link rel="icon" href="../static/img/logo-hire-talents-crop.png" type="image/png">

</head>
<body>
    <center><img style="padding:5%;" width="60%" src="../static/img/searching2.gif" align="center" alt=""></center>
    <script>
        // Wait for 8 seconds using setTimeout() and then redirect to the next view
        setTimeout(function() {
            window.location.href = "{% url 'display' %}";
        }, 7600);
    </script>
</body>
</html>